.pong-wrap {
    font-size: 0px;
    border: 2px solid white;
}

.pong-text {
    color: azure;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
}

.column {
    float: left;
    width: 16.66%;
  }

.column2 {
    float: left;
    text-align: center;
    width: 33.33%;
}

.column3 {
    float: right;
    text-align: right;
    width: 16.66%;
}
  
  /* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}