.chat-wrapper {
  display: flex;
  width: 90%;
  height: 90%;
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgba(43, 31, 55, 0.767);
}

.left {
  display: flex;
  /* border: 5px solid rgb(243, 173, 248); */
  width: 20%;
  height: 100%;
  position: relative;
  left: 0%;
}

.mid {
  display: flex;
  border-left: 3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(0, 0, 0);
  width: 60%;
  position: relative;
  height: 100%;
}

.right {
  width: 20%;
  height: 100%;
  position: relative;
  /* border: 5px solid rgb(72, 0, 255); */
}
