.login-container {
  display: flex;
  width: 800px;
  height: 800px;
  align-items: center;
  justify-content: center;
  background: var(--);
}

.login-wrap:hover {
  cursor: pointer;
}

.login-btn {
  color: #f3efff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  width: 600px;
  height: 200px;
  cursor: pointer;
  border: none;
  align-content: center;
  justify-content: center;
  transition: 1.5s;
}

.login-btn:hover {
  color: #fff;
  text-shadow: 0 0 10px #e70055, 0 0 13px #e70055, 0 0 31px #e70055,
    0 0 42px #b90044, 0 0 82px #b90044, 0 0 92px #b90044, 0 0 102px #b90044,
    0 0 151px #b90044;
}

.login-icon {
  scale: 750%;
}

.login-42-btn {
  color: #f3efff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  font-size: 50px;
  border: none;
  width: 600px;
  height: 200px;
  transition: 1s;
}

.login-42-btn:hover {
  text-shadow: 0 0 7px #4cfdc2, 0 0 10px #4cfdc2, 0 0 21px #4cfdc2,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.auth-link:link {
  color: #f3efff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  font-size: 50px;
  border: none;
  text-decoration: none;
  transition: 1s;
}

.auth-link:visited {
  text-decoration: none;
}

.auth-link:hover,
.auth-link:active {
  text-shadow: 0 0 7px #4cfdc2, 0 0 10px #4cfdc2, 0 0 21px #4cfdc2,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  cursor: pointer;
}
