.profile-sub-container {
  color: white;
  border-style: solid;
  border-radius: 30px;
  width: 80vw;
  min-width: 500px;
  max-width: 1800px;
  height: 80vh;
  min-height: 500px;
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-columns: 100%;
}

.profile-buttons {
}

.search-link {
  font-size: 20px;
}
