:root {
  --dark_background: linear-gradient(
    45deg,
    #010012,
    #020018,
    #020124,
    #020124,
    #03012a
  );

  --default_background: linear-gradient(
    45deg,
    #e70055,
    #980049,
    #3c0119,
    #26013c,
    #04013c
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-login {
  background: var(--dark_background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.root-default {
  background: var(--default_background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}