* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  color: whitesmoke;
  display: flex;
  width: 800px;
  height: 800px;
}

.form-card {
  background-color: #ff005c;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  transition: 1s;
  display: grid;
  column-count: 2;
  grid-template-rows: 50px 50px 1fr;
  align-items: center;
  /* justify-content: center; */
}

.form-card:hover {
  width: 350px;
  height: 220px;
  border-radius: 0.5rem;
  transition: 1s;
}

.input-field {
  color: aliceblue;
  background-color: #b30041;
  border: 1px #222 solid;
  border-radius: 0.5rem;
  margin-top: 80px;
  width: 80%;
  height: 30px;
  justify-self: center;
}

.field-username {
  grid-column: 1 / -1;
  grid-row: 1;
}

.field-password {
  grid-column: 1 / -1;
  grid-row: 2;
}

.submit-btn {
  height: 20px;
  width: 50%;
  column-span: all;
}
