* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.profile-container {
    border-style: solid;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.profile-header {
    border-style: solid;
    border-color: red;
    height: 20%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 1fr;
}

/* Profile header */
.primary-stats {
    border-style: solid;
    border-color: blue;
    max-width: 60%;
    min-width: 60%;
    max-height: 100%;
    min-height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    align-items: center;
}

.profile-name-container {
    min-height: 20%;
    max-height: 20%;
    border-style: solid;
    border-color: yellow;
}

.profile-name-text {
    margin: auto;
    font-size: 1.25rem;
}

.profile-image {
    border-radius: 50%;
    border-style: solid;
    border-color: pink;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.primary-stats h3 {
    border-style: solid;
    border-color: green;
    font-size: 2rem;
}

/* Profile Achievements */
.profile-achievements-container {
    border-style: solid;
    border-color: cyan;
}

/* Profile Friends */
.profile-friends-container {
    
}
