.chat-card-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(56, 56, 56, 0.505);
  border: 1px solid rgba(102, 101, 101, 0.505);
  border-radius: 8px;
}

.chatPicture {
  border-radius: 50%;
  border-style: solid;
  width: 75px;
  min-height: 75px;
  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.invite-icon {
  color: #fbff00;
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.admin-icon {
  color: #ff005c;
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.dm-icon {
  display: flex;
  position: absolute;
  color: #f3efff;
  font-size: 20px;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.icon-wrap {
  display: flex;
  position: relative;
  width: 100%;
}

.play-icon {
  display: flex;
  position: relative;
  color: #01ab78;
  top: 7px;
  padding-right: 5px;
  cursor: pointer;
}
