@import "App.css";

.user-icon-wrapper {
  padding: 10px 10px;
  background-color: rgb(216, 216, 216);
  right: 1px;
  position: fixed;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.user-icon {
  z-index: 2;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  right: 10px;
}

.topbanner-filler {
  height: 75px;
  width: 100%;
}

.topbanner-bar {
  z-index: 1;
  height: 75px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(209, 235, 225, 0.743);
  display: block;
}
