/* * {
    font-family: 'Poppins', sans-serif;
} */

/* Profile Content */
.profile-selector-container {
    border-style: solid;
    display: flex;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}

.selector-button {
    width: 100%;
    font-size: 1.2rem;
}

.specific-content {
    overflow-y: auto;
    overflow-x: scroll;
}

.specific-content::-webkit-scrollbar {
    width: 8px;
}

.specific-content::-webkit-scrollbar-track {
    background-color: rgba(233, 233, 255, 0.5);
}

.specific-content::-webkit-scrollbar-thumb {
    background-color: rgba(249, 249, 255, 0.5);
    border-radius: 10px;
}

.friendrequests-header,
.friends-header {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    min-width: 100%;
}

.profile-content-container {
    border-style: solid;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Friends Content */
.friends-content-container {
    min-width: 100%;
}

.friendrequests-header {
    font-size: 3rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.363)
}

.friends-header {
    font-size: 3rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.363)
}

.friends-content-individual {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    height: 120px;
    display: flex;
    border-color: blue;
    flex-shrink: 1;
}

.friends-content-individual>* {
    flex: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.individual-id {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.individual-id img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto 10px;
}

.individual-id p {
    font-size: 1rem;
}

.user-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    gap: 20px;
}

.user-info-container h4 {
    font-size: 16px;
}

.individual-buttons {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}

.individual-stats-container {
    padding: 10px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-numbers-container h3 {
    padding: 8px;
    font-size: 40px;
}

.stats-text-container h4 {
    padding: 4px;
}


/*
@media (max-width: 480px) {
    .friends-content-individual {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        height: 100px;
        display: flex;
        flex-direction: column;
        border-color: blue;
        flex-shrink: 1;
    }

    .friends-content-individual>* {
        overflow: visible;
        align-items: unset;
    }

    .individual-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 5px;
        border-style: solid;
        border-color: gold;
    }

    .friends-content-individual,
    .friends-content-individual * {}
}
*/