.config-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.config-button {
    padding: 2px;
}

.config-header {
    font-size: 3rem;
    padding: 10px;
}

.config-subheader {
    font-size: 2rem;
    padding: 10px;
}

.config-name-button-container {
    display: flex;
    padding: 10px 10px 20px 10px;
}

.config-displayname-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.displayname-error-message-container {
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    min-height: 2rem;
    align-items: center;
    text-align: center;
}

.displayname-error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

.config-picture-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: auto 0;
}

.config-image-button-container {
    display: flex;
    padding: 10px 10px 20px 10px;
}

.config-twofa-container {
    flex: 1;
    display: flex;
    border-style: solid;
    flex-direction: column;
}

.config-twofa-button-container {
    padding: 0 10px;
}