.config-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: solid;
    border-color: gold;
}

.config-header {
    font-size: 3rem;
}

.config-subheader {
    font-size: 2rem;
}

.config-displayname {
    border-style: solid;
}

.config-picture {
    border-style: solid;
}

.config-twofa {
    border-style: solid;

}