@import "../../index.css";

.toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  font-size: 125px;
  background-color: #ff005c;
  color: aliceblue;
  cursor: pointer;
  z-index: 99999;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

.toggle:hover {
  width: 230px;
  height: 230px;
  transition: 1s;
  font-size: 130px;
}

.toggle-open {
  position: absolute;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  font-size: 125px;
  background-color: #ff005c;
  --i: 0;
  color: aliceblue;
  cursor: pointer;
  z-index: 99999;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

.toggle-open:hover {
  width: 230px;
  height: 230px;
  transition: 1s;
  font-size: 130px;
}
