.msg-window {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  height: 92%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  overflow-y: auto;
  scrollbar-base-color: blueviolet;
  scrollbar-color: blue;
  /* align-items: center; */
}
