.addpop-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.528);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.title {
  color: black;
  display: flex;
  position: relative;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}

.user-input {
  display: flex;
  color: black;
  padding-bottom: 10px;
}

.addpop-in {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
  max-width: 640px;
  background-color: #f3efff;
  border-radius: 10px;
}

.addpop-in-pass {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 33px;
  max-width: 640px;
  background-color: #f3efff;
  border-radius: 10px;
}

.addpop-in-user {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 33px;
  max-width: 640px;
  background-color: #f3efff;
  border-radius: 10px;
  min-width: 400px;
  min-height: 200px;
}

.admin-wrap {
  display: flex;
  position: absolute;
  flex-direction: column;
  /* background-color: #515050; */
  height: 121px;
  left: 50px;
  width: 300px;
  top: 35px;
  z-index: 1;
  border-radius: 5px;
  border: solid 1px #ff005c;
}

.give-wrap {
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-bottom: black 1px solid;
  width: 100%;
  height: 40px;
}

.name {
  margin-left: 50px;
}

.password {
  margin-left: 16px;
}

.close {
  position: absolute;
  bottom: 8px;
  right: 13px;
  background-color: #ff005c;
  border-radius: 10px;
  padding: 10px;
  color: #f3efff;
  border: none;
  cursor: pointer;
}

.refuse-inv {
  position: absolute;
  bottom: 8px;
  right: 13px;
  background-color: #ff005c;
  border-radius: 10px;
  padding: 10px;
  color: #f3efff;
  border: none;
  cursor: pointer;
}

.accept-inv {
  position: absolute;
  bottom: 8px;
  left: 13px;
  background-color: #01ab78;
  border-radius: 10px;
  padding: 10px;
  color: #f3efff;
  border: none;
  cursor: pointer;
}

.game-invite {
  display: flex;
  position: relative;
  padding-bottom: 40px;
  font-size: large;
  /* color: rgb(157, 138, 223); */
  font-weight: bold;
}

.remove-password {
  display: flex;
  position: relative;
  background-color: #ff005c;
  border-radius: 10px;
  padding: 10px;
  color: #f3efff;
  border: none;
  cursor: pointer;
}

.remove-password-wrap {
  display: flex;
  align-self: center;
  position: relative;
  margin-bottom: 15px;
  margin-top: 0px;
}
.action-bar {
  display: flex;
}

.user-info {
  display: flex;
}

.give-admin {
  display: flex;
  position: relative;
  margin-left: 10px;
  font-size: 21px;
  color: black;
  cursor: pointer;
}

.give-admin-already {
  display: flex;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(2, 168, 2);
  cursor: pointer;
}

.admin-title {
  color: black;
  margin-left: 10px;
}

.admin-title-ban {
  color: black;
  margin-left: 10px;
  margin-right: 8px;
}

.visibility-row {
  display: flex;
}

.public {
  margin-left: 20px;
}

.private {
  margin-left: 15px;
}

.error-msg {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.msg-list {
  list-style: square;
  margin-left: 10px;
  font-size: small;
  color: red;
}

.error-wrap {
  margin-bottom: 20px;
  display: flex;
}

.exit {
  position: absolute;
  left: 7px;
  top: 7px;
  color: #ff005c;
  cursor: pointer;
  font-size: 18px;
}

.profile-name {
  display: flex;
  position: absolute;
  color: #f3efff;
  right: 0px;
  align-self: center;
  background-color: #ff005c;
  width: 250px;
  padding-left: 100px;
  height: 20px;
  top: 10px;
  border-radius: 5px;
}

.chatPicture {
  display: flex;
  position: absolute;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  border-style: solid;
  width: 100px;
  height: 100px;
  border: none;
  z-index: 3;
}

.timeout {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
  background-color: #ff005c;
  color: #f3efff;
  border: none;
}

.restricted {
  color: #01ab78;
  display: flex;
  align-self: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  cursor: default;
}
