.hash-icon {
  font-size: 35px;
  display: flex;
  align-self: center;
  margin-left: 4px;
}

.channel-wrapper {
  margin-top: 10px;
  min-width: 100%;
}
.channel-box {
  display: flex;
  min-width: 100%;
  background-color: rgba(56, 56, 56, 0.505);
  height: 100%;
  max-height: 100%;
  border: 1px solid rgba(102, 101, 101, 0.505);
  border-radius: 8px;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 24px;
  font-size: 20px;
  padding: 15px 27px;
  max-width: 100%;
  position: relative;
  /* background-color: aqua; */
}

.channel-box-selected {
  display: flex;
  min-width: 100%;
  background-color: rgba(77, 77, 77, 0.505);
  height: 100%;
  max-height: 100%;
  border: 1px solid #00c88c66;
  border-radius: 8px;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 24px;
  font-size: 20px;
  padding: 15px 27px;
  max-width: 100%;
  position: relative;
  /* background-color: aqua; */
}

.leave-icon {
  cursor: pointer;
  display: flex;
  font-size: 20px;
  color: #ff005c;
  align-self: center;
  margin-left: 10px;
  margin-right: 3px;
}

.join-icon {
  cursor: pointer;
  display: flex;
  font-size: 20px;
  color: #00c88c;
  align-self: center;
  margin-left: auto;
  margin-right: 3px;
}

.chat-icon {
  color: #f3efff;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  align-self: center;
  margin-right: 3px;
}

.owner-icon {
  color: #adacac;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  align-self: center;
}
