.add-wrap {
  display: flex;
  padding-bottom: 10px;
  /* background-color: rgba(56, 56, 56, 0.505); */
  border: 1px solid rgba(102, 101, 101, 0.505);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  z-index: 1;
  word-wrap: break-word;
  line-height: 24px;
  font-size: 20px;
  padding: 3px 20px;
  max-width: 100%;
  justify-content: center;
  /* position: relative; */
}

.add-icon {
  display: flex;
  align-self: center;
  margin-left: 10px;
  margin-bottom: 1px;
  /* margin-right: 9px; */
  font-size: 20px;
  cursor: pointer;
  color: #00c88c;
}

.add-text {
  display: flex;
  cursor: pointer;
  padding: 0;
}
