.channels-wrapper {
  display: flex;
  color: aliceblue;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 50%;
  min-height: 50%;
}

.top-title {
  align-self: center;
  display: flex;
  flex-direction: row;
  /* position: fixed; */
  z-index: 0;
  margin-bottom: 5px;
}

.wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.public-wrap {
  border-top: 8px solid black;
  display: flex;
  color: aliceblue;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 50%;
  min-height: 50%;
}
