@import "../index.css";
@import "../App.css";

.menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(50deg, rgb(149, 0, 35), rgb(6, 0, 82));
}

.menu {
  position: relative;
  /* background-color: rgb(150, 251, 0); */
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 75px; */
  color: #f4efff;
  list-style: none;
}

.icons {
  color: #f4efff;
}

.menu li {
  margin-left: 10px;
  position: absolute;
}

.icon-button:visited {
  color: #f4efff;
}

.link {
  color: #f4efff;
}

.toggle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff005c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.321);
  font-size: 100px;
}
