@import "./../pages/NavMenu.css";
@import "../index.css";
@import "../App.css";

.toggle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff005c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.321);
  font-size: 100px;
}
